.header {
    width: 1600px;
    height: 80px;
    background-color:rgba(255, 255, 255, 1);
}

h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}

p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}


.nav__web {
    color: rgba(33, 150, 243, 1);
}

a {
    text-decoration: none;
}

.nav__logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
    color: black;
}

.nav__link:hover, .nav__contacts-link:hover {
    color: rgba(33, 150, 243, 1);
}

.nav__link, .nav__contacts-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
}

.nav__item {
    margin-right: 50px;
    
}

.nav__item:last-child {
    margin-right: 354px;
}

.nav__contacts-item {
    margin-right: 40px;
}

.nav__contacts-item:last-child {
    margin-right: 0px;
}

main ul, header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: rgba(33, 33, 33, 1);
}

.nav__contacts-link {
    color: rgba(117, 117, 117, 1);

}

.hero {
    width: 1600px;
    height: 600px;
    background: rgba(47, 48, 58, 1);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero__title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

.hero__button {
    width: 200px;
    height: 50px;
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(33, 150, 243, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 0;
}

.about {
    height: 766px;
    width: 1600px;
}

.about__features-wrap {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 94px;
}

.about__feature {
    margin-right: 30px;
}

.about__feature:last-child {
    margin-right: 0;
}

.about__feature-title {
    color: rgba(33, 33, 33, 1);
    letter-spacing: 3%;
    text-transform: uppercase;
}

.about__feature-text {
    letter-spacing: 3%;
    color: rgba(117, 117, 117, 1);
}

.about__activities {
    text-align: center;
}

.about__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 50px;
}

.about__image {
    margin-right: 30px;
}

.about__image:last-child {
    margin-right: 0px;
}

.team {
    width: 1600px;
    height: 648px;
    text-align: center;
    background: rgba(245, 244, 250, 1);
}

.team__grid {
    display: flex;
    justify-content: center;
}

.team__card {
    margin-right: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__card:last-child {
    margin-right: 0px;
}

.footer {
    display: flex;
    align-items: center;
    background-color: rgba(47, 48, 58, 1);
    width: 1600px;
    height: 251px;
}

.footer__wrap {
    margin-left: 215px;
}

.footer__logo {
    color: white;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
}

.footer__logo-accent {
    color: rgba(33, 150, 243, 1);
}

footer p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3%;
    color: white;
}

.footer__list {
    list-style: none;
    padding: 0;
}

footer a {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6);
}